.form-control{
    border: 0 !important;
    border-bottom: 3px solid #000 !important;
    border-radius: 0 !important;
    font-size: 1.7rem !important;
    padding: 10px 0 !important;
}

.form-control:focus{
    box-shadow: none !important;
    border-bottom: 3px solid #379000 !important;
}

.form-control:hover{
    border-bottom: 3px solid #005b90 !important;
}